<!DOCTYPE html>
<html>
<head>
<title>Student Info Page</title>
<link href="/resources/styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>